ul {
  list-style-type: none;
  font-size: 30pt;
}

.title {
  text-align: center;
  font-size: 60pt;
  align-self: center;
}

.each-title {
    text-align: center;
  font-size: 30pt;
  align-self: center;
}

li {
  margin: 3px;
}

.opt {
  width: 100%;
}

.option-link {
  text-decoration: none;
}

.my-row {
  display: none;
  visibility: hidden;
  margin: 30px;
}

.each {
  min-width: 40vh;
  border-color: black;
  border-width: 3px;
  border-radius: 3px;
  margin: 15px;
}

body {
    min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #9b9b9b;
  color: white;
}

button {
  margin: 5px;
}

.link-button {
  border-style: none;
  background-color: transparent;
  color: #1842cc;
}

.link-button:hover {
  text-decoration: underline;
}

//.my-row#artemis {
//  display: none;
//  visibility: hidden;
//}

.show {
  display: flex !important;
  flex-wrap: nowrap !important;
  margin: 30px;
  visibility: visible !important;
  width: 50vh;
}