beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
EbookLib==0.17
FanFicFare==3.3.0
fanfiction==0.1.1
fanfiction-api==1.0
html2text==2018.1.9
html5lib==1.0.1
idna==2.8
lxml==4.2.5
pdfkit==0.6.1
PyYAML==3.13
requests==2.21.0
six==1.12.0
urllib3==1.24.1
webencodings==0.5.1
